@model LeftRover.ViewModels.UpdateInfoViewModel
@{
    ViewData["Title"] = "My Profile";
}

@if (Model.UpdateStatus == 0)
{
<div class="row" style="padding-top: 20px;">
    <div class="alert alert-success" role="alert">
        Profile update was a success.
    </div>
</div>
}
else if (Model.UpdateStatus == 1)
{
<div class="row" style="padding-top: 20px;">
    <div class="alert alert-danger" role="alert">
        Unable to update your profile. Please contact the helpdesk.
    </div>
</div>
}

<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="card">
        <div class="card-header">
            My account information
        </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab" aria-controls="password" aria-selected="false">Password</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-6">
                            <form method="post" action="/Account/UpdateInfo">
                                <legend>Update your profile information.</legend>
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" placeholder="@User.Identity.Name" disabled>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="OrganizationName" class="form-label">Organization Name</label>
                                        <input type="text" asp-for="OrganizationName" class="form-control" id="OrganizationName" placeholder="@Model.OrganizationName">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-auto">
                                        <div class="mb-3">
                                            <label for="FirstName" class="form-label">First Name</label>
                                            <input type="text" asp-for="FirstName" class="form-control" id="FirstName" placeholder="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-auto">

                                        <div class="mb-3">
                                            <label for="LastName" class="form-label">Last Name</label>
                                            <input type="text" asp-for="LastName" class="form-control" id="LastName" placeholder="@Model.LastName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="PhoneNumber" class="form-label">Phone Number</label>
                                        <input type="tel" asp-for="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="@Model.PhoneNumber">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="StreetAddress" class="form-label">Street Address</label>
                                        <input type="text" asp-for="StreetAddress" class="form-control" id="StreetAddress" placeholder="@Model.StreetAddress">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="StreetAddress2" class="form-label">Street Address Line 2</label>
                                        <input type="text" asp-for="StreetAddress2" class="form-control" id="StreetAddress2" placeholder="@Model.StreetAddress2">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-auto">
                                        <div class="mb-3">
                                            <label for="City" class="form-label">City</label>
                                            <input type="text" asp-for="City" class="form-control" id="City" placeholder="@Model.City">
                                        </div>
                                    </div>
                                    <div class="col-auto">

                                        <div class="mb-3">
                                            <label for="State" class="form-label">State</label>
                                            <input type="text" asp-for="State" class="form-control" id="State" placeholder="@Model.State">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="Zip" class="form-label">Postal / ZIP Code</label>
                                        <input type="text" asp-for="Zip" class="form-control" id="Zip" placeholder="@Model.Zip">
                                    </div>
                                </div>

                                <div class="row" style="padding-bottom: 10px;">
                                    <div class="col-md-6">
                                        <label for="TaxID" class="form-label">Charity / Tax ID</label>
                                        <input type="text" asp-for="TaxID" class="form-control" id="TaxID" placeholder="@Model.TaxID">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-md-6">
                            <form method="post" action="/Account/UpdatePassword">
                                <legend>Change your login password.</legend>
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword" class="form-label">Current Password</label>
                                        <input type="password" asp-for="CurrentPassword" class="form-control" id="exampleInputPassword">
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row" style="padding-bottom: 10px;">
                                    <div class="col-md-6">
                                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>