@model LeftRover.ViewModels.MyDonationsViewModel
@{
    ViewData["Title"] = "SelectDonation";
}

<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
               Modify this donation:
            </div>
            <div class="card-body">
                <form method="post" action="/Account/UpdateDonation">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" asp-for="Description" class="form-control" id="Description" placeholder="@Model.Description">
                            <input type="hidden" asp-for="DonationID" value="@Model.DonationID">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="Instructions" class="form-label">Instructions</label>
                            <textarea class="form-control" asp-for="Instructions" rows="3" id="Instructions" placeholder="@Model.Instructions"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact</label>
                                <input type="text" asp-for="Contact" class="form-control" id="Contact" placeholder="@Model.Contact">
                            </div>
                        </div>
                        <div class="col-auto">

                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="@Model.PhoneNumber">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="Price" class="form-label">Estimated Value</label>
                            <input type="text" asp-for="Price" class="form-control" id="Price" placeholder="@Model.Price.ToString("0.00")">
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="@Model.DeliveryAvailable" value="true" id="DeliveryAvailable" checked="@Model.DeliveryAvailable">
                                <label class="form-check-label" for="DeliveryAvailable">
                                    Delivery Available
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="@Model.PickupAvailable" value="true" id="PickupAvailable" checked="@Model.PickupAvailable">
                                <label class="form-check-label" for="PickupAvailable">
                                    Pickup Available
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="StreetAddress" class="form-label">Street Address Line</label>
                            <input type="text" asp-for="StreetAddress" class="form-control" id="StreetAddress" placeholder="@Model.StreetAddress">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="StreetAddress2" class="form-label">Street Address Line 2</label>
                            <input type="text" asp-for="StreetAddress2" class="form-control" id="StreetAddress2" placeholder="@Model.StreetAddress2">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" asp-for="City" class="form-control" id="City" placeholder="@Model.City">
                            </div>
                        </div>
                        <div class="col-auto">

                            <div class="mb-3">
                                <label for="State" class="form-label">State</label>
                                <input type="text" asp-for="State" class="form-control" id="State" placeholder="@Model.State">
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <label for="Zip" class="form-label">Postal / ZIP Code</label>
                            <input type="text" asp-for="Zip" class="form-control" id="Zip" placeholder="@Model.Zip">
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-12">
                            <label for="ExpirationDate" class="form-label">Expiration Date</label>
                            <input type="datetime" asp-for="ExpirationDate" class="form-control" id="ExpirationDate" placeholder="@Model.ExpirationDate.ToString("MM/dd/yyyy hh:mm tt")">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>