@model LeftRover.ViewModels.MyDonationsViewModel
@{
    ViewData["Title"] = "View Donation";
}

<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
               Donation Details:
            </div>
            <div class="card-body">
                <form method="post" action="/Account/ClaimDonation">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="Description" class="form-label">Description</label>
                            <input type="text" asp-for="Description" class="form-control" id="Description" placeholder="@Model.Description" disabled>
                            <input type="hidden" asp-for="DonationID" value="@Model.DonationID">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="Instructions" class="form-label">Instructions</label>
                            <textarea class="form-control" asp-for="Instructions" rows="3" id="Instructions" placeholder="@Model.Instructions" disabled></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="Contact" class="form-label">Contact</label>
                                <input type="text" asp-for="Contact" class="form-control" id="Contact" placeholder="@Model.Contact" disabled>
                            </div>
                        </div>
                        <div class="col-auto">

                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input type="tel" asp-for="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="@Model.PhoneNumber" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="Price" class="form-label">Estimated Value</label>
                            <input type="text" asp-for="Price" class="form-control" id="StreetAddress" placeholder="@Model.StreetAddress" disabled>
                        </div>
                    </div>

                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="@Model.DeliveryAvailable" value="true" id="DeliveryAvailable" checked="@Model.DeliveryAvailable" disabled>
                                <label class="form-check-label" for="DeliveryAvailable">
                                    Delivery Available
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="@Model.PickupAvailable" value="true" id="PickupAvailable" checked="@Model.PickupAvailable" disabled>
                                <label class="form-check-label" for="PickupAvailable">
                                    Pickup Available
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="StreetAddress" class="form-label">Street Address Line</label>
                            <input type="text" asp-for="StreetAddress" class="form-control" id="StreetAddress" placeholder="@Model.StreetAddress" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="StreetAddress2" class="form-label">Street Address Line 2</label>
                            <input type="text" asp-for="StreetAddress2" class="form-control" id="StreetAddress2" placeholder="@Model.StreetAddress2" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="City" class="form-label">City</label>
                                <input type="text" asp-for="City" class="form-control" id="City" placeholder="@Model.City" disabled>
                            </div>
                        </div>
                        <div class="col-auto">

                            <div class="mb-3">
                                <label for="State" class="form-label">State</label>
                                <input type="text" asp-for="State" class="form-control" id="State" placeholder="@Model.State" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col-md-6">
                            <label for="Zip" class="form-label">Postal / ZIP Code</label>
                            <input type="text" asp-for="Zip" class="form-control" id="Zip" placeholder="@Model.Zip" disabled>
                        </div>
                    </div>

                    @if (User.Identity.IsAuthenticated && User.HasClaim("UserType", "Donor"))
                    {

                    }
                    else if (Model.Status.Equals("Claimed") || Model.Status.Equals("Received"))
                    {
                        <button type="submit" class="btn btn-primary" disabled>Claimed</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Claim</button>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
